@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');
h1 {
    text-align: center;
    color: #0011ff;
    background-color: #040c70;
    font-family: 'Lobster', cursive;
}
header {
    background-color: #00ab3c;
    height: 300px;
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
}
header .box {
    width: 550px;
    flex-grow: 1;
    background-color: #000000;
    margin: 5px;
    border-radius: 15px;
    border: 5px solid black;
}
header .box:hover {
    background-color: #00ffd9;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
header .box a {
    color: #000000;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
}
header .box a:hover {
    color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: rgba(255,0,0,1);
    background: -moz-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(191,0,255,1) 21%, rgba(0,21,255,1) 34%, rgba(0,238,255,1) 50%, rgba(0,255,89,1) 61%, rgba(240,240,24,1) 78%, rgba(255,0,0,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,0,0,1)), color-stop(21%, rgba(191,0,255,1)), color-stop(34%, rgba(0,21,255,1)), color-stop(50%, rgba(0,238,255,1)), color-stop(61%, rgba(0,255,89,1)), color-stop(78%, rgba(240,240,24,1)), color-stop(100%, rgba(255,0,0,1)));
    background: -webkit-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(191,0,255,1) 21%, rgba(0,21,255,1) 34%, rgba(0,238,255,1) 50%, rgba(0,255,89,1) 61%, rgba(240,240,24,1) 78%, rgba(255,0,0,1) 100%);
    background: -o-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(191,0,255,1) 21%, rgba(0,21,255,1) 34%, rgba(0,238,255,1) 50%, rgba(0,255,89,1) 61%, rgba(240,240,24,1) 78%, rgba(255,0,0,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(191,0,255,1) 21%, rgba(0,21,255,1) 34%, rgba(0,238,255,1) 50%, rgba(0,255,89,1) 61%, rgba(240,240,24,1) 78%, rgba(255,0,0,1) 100%);
    background: linear-gradient(45deg, rgba(255,0,0,1) 0%, rgba(191,0,255,1) 21%, rgba(0,21,255,1) 34%, rgba(0,238,255,1) 50%, rgba(0,255,89,1) 61%, rgba(240,240,24,1) 78%, rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ff0000', GradientType=1 );
    background-attachment: fixed;
}
ol li {
    color: #000000;
}
p {
    color: #22ff00;
}
h2 {
    color: #ff0000;
    text-align: center;
    font-family: 'Kelly Slab', cursive;
}
h3 {
    color: #ff0000;
    text-align: center;
    font-family: 'Bad Script', cursive;
}
img {
    max-width: 100%;
    max-height: 100%;
}

.content {
    background-color: #ffff8c;
    width: 1000px;
    margin: 0 auto;
}
.content .row {
    display: flex;
}
.content .box {
    background-color: purple;
    margin: 10px;
    width:  100px;
    flex-grow: 1;
    padding: 10px;
}
.content .col-1 {
    flex-grow: 1;
    text-align: center;
}
.content .col-3 {
    flex-grow: 3;
}
img {
    width: 240px;
    height: 240px;
}
ol li {
    font-family: 'Rubik Mono One', sans-serif;
    text-align: center;
}
p {
    font-family: 'Rubik Mono One', sans-serif;
}
iframe {
    width: 350px;
    height: 200px;
}